{% extends 'generic/object_detail.html' %}
{% load buttons %}
{% load static %}
{% load helpers %}s

{% block title %}{{ object }}{% endblock %}

{% block header %}
    <div class="row noprint">
        <div class="col-sm-8 col-md-9">
            <ol class="breadcrumb">
                <li><a href="{% url 'plugins:nautobot_data_validation_engine:regularexpressionvalidationrule_list' %}">Regular Expression Rules</a></li>
                <li>{{ object }}</li>
            </ol>
        </div>
        <div class="col-sm-4 col-md-3">
            <form action="{% url 'plugins:nautobot_data_validation_engine:regularexpressionvalidationrule_list' %}" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="mdi mdi-magnify" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="pull-right noprint">
        {% if perms.nautobot_data_validation_engine.add_regularexpressionvalidationrule %}
            {% clone_button object %}
        {% endif %}
        {% if perms.nautobot_data_validation_engine.change_regularexpressionvalidationrule %}
            {% edit_button object %}
        {% endif %}
        {% if perms.nautobot_data_validation_engine.delete_regularexpressionvalidationrule %}
            {% delete_button object %}
        {% endif %}
    </div>
    <h1>{{ object }}</h1>
    {% include 'inc/created_updated.html' %}
    <ul class="nav nav-tabs">
        <li role="presentation"{% if not active_tab %} class="active"{% endif %}>
            <a href="{{ object.get_absolute_url }}">Regular Expression Rule</a>
        </li>
        {% if perms.extras.view_objectchange %}
            <li role="presentation"{% if active_tab == 'changelog' %} class="active"{% endif %}>
                <a href="{% url 'plugins:nautobot_data_validation_engine:regularexpressionvalidationrule_changelog' slug=object.slug %}">Change Log</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Regular Expression Rule</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Name</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>Enabled</td>
                    <td>
                        {% if object.enabled %}
                            <i class="mdi mdi-check-bold text-success" title="Yes"></i>
                        {% else %}
                            <i class="mdi mdi-close-thick text-danger" title="No"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Content type</td>
                    <td>{{ object.content_type.app_label }}.{{ object.content_type.model }}</td>
                </tr>
                <tr>
                    <td>Field</td>
                    <td>{{ object.field }}</td>
                </tr>
                <tr>
                    <td>Regular expression</td>
                    <td>{{ object.regular_expression }}</td>
                </tr>
                <tr>
                    <td>Error message</td>
                    <td>{{ object.error_message|placeholder }}</td>
                </tr>
            </table>
        </div>
	</div>
</div>
{% endblock %}
